button {
  font-family: "League Spartan";
  height: 48px;
  background-color: var(--darkBlue);
  outline: 1px solid var(--white);
  margin-block: 8px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  padding-inline: 28px;
  text-transform: uppercase;
  border: none;
  width: 100%;
}

button > span {
  padding-right: 25px;
}

.active {
  outline: none;
}

button:hover {
  background-color: var(--darkGrey);
  outline: none;
}
