:root {
  font-family: "League Spartan", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white: #ffffff;
  --darkBlue: #070724;
  --darkGrey: #38384f;
  --lightGrey: #838391;
  --lightBlue: #419ebb;
  --yellow: #eda249;
  --purple: #6f2ed6;
  --lightRed: #d14c32;
  --red: #d83a34;
  --orange: #cd5120;
  --green: #1ec2a4;
  --blue: #2d68f0;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--darkBlue);
  background-image: url("/assets/background-stars.svg");
  height: 100%;
}

#root {
  height: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 20px;
}

@media screen and (max-width: 940px) {
  body {
    height: initial;
  }
}
